/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 10, 2015, 1:42:40 PM
    Author     : mdeboer1
*/
body {background-color: #088da5;}

#container { width: 900px;
            margin: 0 auto;
            background-color: white;}
